<section id="user_details">

  <%= render "shared/user", user: @user %>
  <br>
  <div id="bio-and-posts">
    <div class="user-bio bio">
      <h2>Bio</h2>
      <p class="bio_text"><%= @user.bio %></p>
    </div>
  <br>
  <div class="posts_container">
    <% @recent_posts.each_with_index do |post, index| %>
      <div class="post">
        <h3>Post #<%= index+1 %></h3>
        <p class="post_text"><%= post.text %></p>
        <p class="commentsCount">
          Comments: <%= post.comments_counter %>,
          Likes: <%= post.likes_counter %>
        </p>
      </div>
      <br>
    <% end %>
    <br>
    <button class="seePosts">
        <%= link_to "See all posts", user_posts_path(@user) %>
      </button>
  </div>
  
  </div>
</section>
