<section id="user-details">
  <%= render "shared/user", user: @user %>
  <br>
  <br>
  <div class="p-container posts_container">
    <% @user_posts.each do |post| %>
      <div class="post">
        <h3><%= post.title %></h3>
        <p class="post_text"><%= post.text %></p>
        <p class="commentsCount">
          Comments: <%= post.comments_counter %>,
          Likes: <%= post.likes_counter %>
        </p>
        <%= link_to "view post", user_post_path(@user, post) %>
      </div>
      <div class="post">
        <h4>Comments</h4>
        <% @post_comments.each do |comment| %>
          <ul>
            <li><%= comment.author.name%>: <%= comment.text %></li>
          </ul>
        <% end %>
      </div>
      <br>
    <% end %>
    <br>
    <button class="seePosts">
      Next
    </button>
  </div>
</section>
